In [2]:
print('praveen')

praveen

In [3]:
print('232')

232

In [59]:
print(10.0)
print("praveen")

10.0
praveen

In [4]:
print("my", "world", sep="@")

my@world

In [5]:
print("hello\naaa")

hello
aaa

In [24]:
print("praveenkumarbarad", end=":-)")
print("hyderabad")

praveenkumarbarad:-)hyderabad

In [7]:
print("praveen", "\t", "barad")

praveen 	 barad

In [9]:
print('sum', 2+22+22)

sum 46

In [35]:
a = 11
b = 2
y = 200
print("next")
d = 7
e = 9
f =10
d+e+f

next

26

In [36]:

print(y)
print(b + y)

200
202

In [58]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = num1 * num2
print("The product of",result)

The product of 6.0

In [52]:
count_of_shirts = 2
type(count_of_shirts)
print(count_of_shirts * 2,"shirts")

4 shirts

In [53]:
count_of_shirts = 4
count_of_pants = 4
print(type(count_of_shirts))
print(count_of_shirts + count_of_pants * 2,"shirts/pants")

<class 'int'>
12 shirts/pants

In [39]:
a > b, a == d, e < y, b >= y , a <= y

(True, False, True, False, True)

In [45]:
find = (5 > 3)
print(find)
find = (5 < 3)
print(find)
find = (5 == 3)
print(find)

True
False
False

In [46]:
marks = 95
results =  (marks >= 40)
print(results)

True

In [49]:
grade = 9
results =  (grade >= 9)
print(results, "very good")

True very good

In [20]:
(2 - 1) * ((4 + 1) / (3 - 1))

2.5

In [1]:
print("Different types of fruits in store")
orange = 100
mango = 98
piapple = 99
apple = 95
banana = 87
fruits = orange +mango +piapple + apple + banana
print("Total fruit sale", fruits)

Different types of fruits in store
Total fruit sale 479

In [2]:
print("Different types of fruits in store")
orange = 100
banana = 87
fruits = orange  + banana
print("Total fruit sale profit", fruits*10/100 )

Different types of fruits in store
Total fruit sale profit 18.7

In [3]:
a = 10
b = 5
c = 20
d = 15

product = a * b
quotient = c / d
difference = c - d

print("product of", a, "and", b, "is", product)
print("quotient of", c, "and", d, "is", quotient)
print("difference between", c, "and", d, "is", difference)

product of 10 and 5 is 50
quotient of 20 and 15 is 1.3333333333333333
difference between 20 and 15 is 5

In [5]:
radius = 5

volume = (4/3) * 3.14 * (radius ** 3)
surface_area = 4 * 3.14 * (radius ** 2)
print("volume", volume)
print("Surface", surface_area)

volume 523.3333333333334
Surface 314.0

In [10]:
P= ("Praveen" , "kumar")
K= ("BTECH " , "GRADUATED")
print(P + K)

('Praveen', 'kumar', 'BTECH ', 'GRADUATED')

In [12]:
first= type("a")
sencond = type(1)
third = type(1.1)

print("types of 3 different inputs:",first, sencond, third)

types of 3 different inputs: <class 'str'> <class 'int'> <class 'float'>

In [21]:
print("True false?")
karim_maths = 80
karim_science = 98
karim_social = 88

praveen_maths = 95
praveen_science = 97
praveen_social = 100
Karim =karim_maths + karim_science + karim_social
praveen = praveen_science + praveen_maths + praveen_social
print(praveen>Karim)

True false?
True

In [54]:
print("count of gadgets")
ali_laptop = 2
ali_pc = 3
ali_tablets = 1

print("Ali gadgets: ", ali_laptop + ali_pc + ali_tablets)

count of gadgets
Ali gadgets:  6

In [23]:
print("count of gadgets")
karim_laptop = 1
karim_pc = 2
karim_tablets = 1
praveen_laptop = 3
praveen_pc=4
praveen_tablets = 5

print("karim gadgets: ",karim_laptop + karim_pc + karim_tablets)
print("praveen gadgets: ",praveen_laptop + praveen_pc + praveen_tablets)

count of gadgets
karim gadgets:  4
praveen gadgets:  12

In [48]:
weatherindegree = 30
day = "sunday"
weekend = True
print(weatherindegree, day, good)

30 sunday True

In [56]:
print("count of gadgets and total price for praveen")
praveen_laptop = 2
praveen_pc = 3
praveen_tablets = 1

laptop_price = 800 
pc_price = 1200   
tablet_price = 400 

total_price_pra = (praveen_laptop * laptop_price) + (praveen_pc * pc_price) + (praveen_tablets * tablet_price)

print("pra gadgets: ", praveen_laptop + praveen_pc + praveen_tablets)
print("Total Price for praveen's gadgets:",total_price_pra)

count of gadgets and total price for praveen
pra gadgets:  6
Total Price for praveen's gadgets: 5600

In [57]:
print("count of gadgets, total price, and warranty for Sarah")
sarah_laptop = 1
sarah_pc = 4
sarah_tablets = 2

laptop_price = 900   
pc_price = 1100       
tablet_price = 35

laptop_warranty = 2   
pc_warranty = 3       
tablet_warranty = 1   
total_price_sarah = (sarah_laptop * laptop_price) + (sarah_pc * pc_price) + (sarah_tablets * tablet_price)
total_warranty_sarah = (sarah_laptop * laptop_warranty) + (sarah_pc * pc_warranty) + (sarah_tablets * tablet_warranty)

print("Sarah gadgets: ", sarah_laptop + sarah_pc + sarah_tablets)
print("Total Price for Sarah gadgets:", total_price_sarah)
print("Total Warranty for Sarah gadgets: ", total_warranty_sarah, " years")

count of gadgets, total price, and warranty for Sarah
Sarah gadgets:  7
Total Price for Sarah gadgets: 5370
Total Warranty for Sarah gadgets:  16  years